a:hover{
	color:  #33bdb8;
}
*{
	margin: 0px;
	padding:  0px;
}

body{
	max-width: 100%;
	box-sizing: border-box;
}

main{
	margin: 0px;
	padding:  0px;
	/* height: 100vh; */
	max-width: 100vw;
	box-sizing: border-box;
}

/* */
header{
	background-color: #194673;
	margin: 0px;
	padding:  0px;
	height: 35.5%;
	
}

header > section{
	margin: 0px;
	padding:  0px;
	max-width: 100%;
	box-sizing: border-box;	

}
header div{
	display: inline-block;
}
.top {
	
	width: 1000px;
	margin:0  auto;
	
	padding-bottom:10px;


	
}

.version{
	color: white;
	font-family: arial;
	padding-bottom: 0.4em;

}



.nav ul{
	position: relative;
    left: 17px;
   
	 font-family: 'Roboto Mono', monospace;
}

	.nav ul li, footer div ul li{

			list-style: none;
			display: inline-block;
           
			margin-right: 1.2em;
		}

	.nav ul li a, footer div ul li{
			color: white;
            text-decoration: none;
            

		}

		#event_name{
			font-family: verdana;
			font-size: 3em;
			color: white;
			border-top: 5px solid orange;
			padding: 6px 0;
		}

		.spacer{
			width: 23%;		
			height: 2em;
		}

		

a{
	color:white;
	text-decoration: none;
}




li a:hover, a:active{
	color: #33bdb8;
}
.register{
	padding: 1em;
	border: 2px solid #33bdb8;
	border-radius: 5px;
	position: relative;
	top: 1em;

}


ul li a:hover, ul li a:active{
	color:  #33bdb8;
}


.bottom{
	padding-top: 1.8%;
	color: white;
	/* height: 52%; */
	background-color: #68948f;
	background-image: linear-gradient(to right, #68948f 40%, #f5f1d7);
	padding-bottom: 35px;

}

 .bottom p{
 	width: 50%;
 	margin: 0 auto;
 	
 }


 #objects{
	 position: relative;
	margin: 0px;
	padding:  0px auto;	
	box-sizing: border-box;
	height: 47%;
	width: 100%;
	padding-top: 2.5%;
	margin-bottom: 2em;
   

}




footer{
	box-sizing: border-box;
    width:100%;
    position: relative;
    bottom: 0;
	background-image: linear-gradient(to right, #68948f 40%, #f5f1d7);
	padding-bottom:40px; 

}

footer div{
	box-sizing: border-box;
	width: 1000px;
	margin: 0px auto;
	padding-top: 10px;
	padding-bottom: 40px;
}

footer div p{
	color: #ccc;
	 position: relative;
	top: 1em; 
} 

footer div ul{
	position: relative;
	left: 40px;
}
footer div li{

    float: right;
   
}
footer a{
	margin-right: 1em;
}

