body{
    color: rgba(0,0,0,0.6);
    font-family:arial;
} 
 
 #content{
    width:1000px;
    margin:0px auto; 
    height: auto;
}

 #text{
   float: left;
    width: 34%;
    margin-right:30px; 
   
   
}

#map{
    display: inline-block;
    width: 61%;
    box-sizing: border-box;
   
}
#text a{color: #33bdb8}

footer{
    position: relative;
    top: 3.7em;
  
}


